<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />


   
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="div-container">
        <div class="div-header">
            <b style="font-size:30px">
                Sparkle
                Online Shopping Make up Products
            </b>
        </div><!--div-header-->
        <div class="clear"></div>
        <div class="div-topmenu">
            <ul>
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                @*<li>
            @Html.ActionLink("News", "NewsIndex", "News")
        </li>*@
                <li>
                    @Html.ActionLink("Products", "ProductsIndex", "Products")
                </li>
                <li>
                    @Html.ActionLink("Contact Us", "ContactUsIndex", "ContactUs")
                </li>
                <li>
                    @Html.ActionLink("Cart", "Index", "ShoppingCart")
                </li>
                <li>
                    @Html.ActionLink("Register", "Register", "User")
                </li>
            </ul>
        </div><!--div-topmenu-->
        <div class="clear"></div>
        <div class="div-left">
            <div class="category-title">Category</div><!--category-title-->
            <div class="category-list">
                @Html.Action("CategoryPartial", "Category")
            </div><!--category-list-->
        </div><!--div-left-->
        <div class="div-main">
            
            <div class="clear">
            </div>
            @RenderBody()

        </div><!--div-main-->
        <div class="clear"></div>

        <div class="div-footer">
            <p>Email:<a href="mailto:sparkle@gmail.com">Sparkle</a></p>
            <p>Contact Number:8765431234</p>
            <p>Have a good day..!</p>
        </div><!--div-footer-->
    </div>
</body>
</html>