@model MakeupOnline.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddImage</title>
</head>
<body style="text-align:center;font-size:large">
    @using (Html.BeginForm("AddImage", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Add Products</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })

            </div>
            <br />
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })

            </div>
            <br />
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.DropDownList("CategoryId", new List<SelectListItem>
       {
    new SelectListItem{Text="Face Products",Value="1"},
    new SelectListItem{Text="Eye Product",Value="2"},
    new SelectListItem{Text="Lip Product",Value="3"}

    }, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })

            </div>
            <br />
            <br />
            @*<div class="form-group">
                    @Html.LabelFor(model => model.CateoryId, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.CateoryId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CateoryId, "", new { @class = "text-danger" })

                </div>
                <br />
                <br />*@

            @*<div class="form-group">
                            @Html.LabelFor(model => model.CateoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })

                            @Html.DropDownList("CategoryId", new List<SelectListItem>
                   {
                new SelectListItem{Value="1"},
                new SelectListItem{Value="2"},
                new SelectListItem{Value="3"}

                }, null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CateoryId, "", new { @class = "text-danger" })

                        </div>
                        <br />
                        <br />*@

            @*<div class="form-group">
                    @Html.LabelFor(model => model.BrandId, "BrandId", htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.DropDownList("BrandId", new List<SelectListItem>
                    {
                new SelectListItem{Text="Lakme",Value="1"},
                new SelectListItem{Text="Maybelline",Value="2"}


                     }, null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })

                </div>
                <br />*@

            <div class="form-group">
                @Html.LabelFor(model => model.SellStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SellStartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SellStartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.SellEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SellEndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SellEndDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />

            @*<div class="form-group">
                    @Html.LabelFor(model => model.IsNew, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.IsNew, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsNew, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.ModelId, "ModelId", htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.DropDownList("ModelId",
                     new List<SelectListItem>
                {
    new SelectListItem{Text="Foundation",Value="1"},
    new SelectListItem{Text="Kajal",Value="2"}


        }, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModelId, "", new { @class = "text-danger" })

            </div>
            <br />
            <br />

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })

                <input type="file" id="image1" name="image1" />

            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    <input style="background-color:aqua;font-size:smaller" type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <br />
    <br />

</body>
</html>
